src/nodes/local-node-candy-pi-lite/examples/CANDY EGG Example.json
[
    {
        "id": "6829af51.4fa7b8",
        "type": "tab",
        "label": "CANDY EGG Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7292c965.ca945",
        "type": "inject",
        "z": "6829af51.4fa7b8",
        "name": "start",
        "topic": "start",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "9d0018cb.6e2a28"
            ]
        ]
    },
    {
        "id": "2a9fdaae.e473fe",
        "type": "inject",
        "z": "6829af51.4fa7b8",
        "name": "stop",
        "topic": "stop",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "9d0018cb.6e2a28"
            ]
        ]
    },
    {
        "id": "7c599da7.a7a934",
        "type": "inject",
        "z": "6829af51.4fa7b8",
        "name": "locate",
        "topic": "locate",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9d0018cb.6e2a28"
            ]
        ]
    },
    {
        "id": "f933a45f.2a765",
        "type": "inject",
        "z": "6829af51.4fa7b8",
        "name": "status",
        "topic": "status",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "9d0018cb.6e2a28"
            ]
        ]
    },
    {
        "id": "c941c576.b0eb38",
        "type": "comment",
        "z": "6829af51.4fa7b8",
        "name": "GNSS operations",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "9d0018cb.6e2a28",
        "type": "CANDY Pi Lite gnss in",
        "z": "6829af51.4fa7b8",
        "icon": "fa-map-marker",
        "iconColor": "#ff80bf",
        "photoUrl": "https://git.io/vhqZU",
        "deleted": false,
        "outformat": "worldmap",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "cffcef1b.4947a"
            ]
        ]
    },
    {
        "id": "b7c8b2a5.11b31",
        "type": "CANDY EGG websocket out",
        "z": "6829af51.4fa7b8",
        "name": "GNSS Upload",
        "account": "72297555.1a97e4",
        "path": "/gnss",
        "wholemsg": "false",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "bdd6caaa.df365",
        "type": "comment",
        "z": "6829af51.4fa7b8",
        "name": "Upload GNSS location data",
        "info": "",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "9879bfa4.a1611",
        "type": "CANDY EGG websocket in",
        "z": "6829af51.4fa7b8",
        "name": "GNSS Control",
        "account": "72297555.1a97e4",
        "path": "/gnss",
        "wholemsg": "false",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "3820e0de.e9ee"
            ]
        ]
    },
    {
        "id": "3820e0de.e9ee",
        "type": "template",
        "z": "6829af51.4fa7b8",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "9d0018cb.6e2a28"
            ]
        ]
    },
    {
        "id": "cffcef1b.4947a",
        "type": "switch",
        "z": "6829af51.4fa7b8",
        "name": "pass locate command",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "locate",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "b7c8b2a5.11b31"
            ],
            [
                "12bd3012.ea46"
            ]
        ]
    },
    {
        "id": "12bd3012.ea46",
        "type": "debug",
        "z": "6829af51.4fa7b8",
        "name": "operation result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "72297555.1a97e4",
        "type": "CANDY EGG account",
        "z": "",
        "name": "CANDY EGG account",
        "accountId": "",
        "secure": true
    }
]
