src/nodes/local-node-candy-line-go-live/examples/Go Live Example.json
[
  {
      "id": "79aea94e.302d38",
      "type": "tab",
      "label": "Go Live",
      "disabled": false,
      "info": ""
  },
  {
      "id": "6e0a1a8b.b5f3bc",
      "type": "inject",
      "z": "79aea94e.302d38",
      "name": "00:00:00:00:00",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "300",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"networkAddress\":\"00:00:00:00:00\",\"batteryPower\":102,\"signalStrength\":-23}",
      "payloadType": "json",
      "x": 230,
      "y": 80,
      "wires": [
          [
              "4df69051.2c9b98"
          ]
      ]
  },
  {
      "id": "d3d5775c.f4a7c8",
      "type": "debug",
      "z": "79aea94e.302d38",
      "name": "Print whole msg object",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 560,
      "y": 300,
      "wires": []
  },
  {
      "id": "4df69051.2c9b98",
      "type": "Go-Live-heartbeat",
      "z": "79aea94e.302d38",
      "name": "",
      "filterErrorMessages": false,
      "outputs": 1,
      "x": 370,
      "y": 200,
      "wires": [
          [
              "d3d5775c.f4a7c8"
          ]
      ]
  },
  {
      "id": "2031646d.8ba14c",
      "type": "Go-Live-peripheral",
      "z": "79aea94e.302d38",
      "name": "",
      "x": 490,
      "y": 420,
      "wires": [
          [
              "d3d5775c.f4a7c8"
          ]
      ]
  },
  {
      "id": "1c3d7958.012b27",
      "type": "inject",
      "z": "79aea94e.302d38",
      "name": "Get All Peripheral Info",
      "props": [
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 230,
      "y": 340,
      "wires": [
          [
              "2031646d.8ba14c"
          ]
      ]
  }
]