src/device-management-flow.json
[
    {
        "id": "5e8a6e7d.727fb",
        "type": "tab",
        "label": "CANDY LINE DM",
        "disabled": false,
        "info": "# Package Info\nThe following part is flow meta information.\n---\n{\n    \"version\": \"1.0.0\"\n}"
    },
    {
        "id": "77c07b48.45b7c4",
        "type": "lwm2m client in",
        "z": "5e8a6e7d.727fb",
        "name": "DM Client",
        "lwm2mClient": "5edf712f.8c24a",
        "subscribeObjectEvents": true,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6c7ac606.17556"
            ]
        ]
    },
    {
        "id": "5d1ac461.d7be04",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "CANDY LINE Device Management Application",
        "info": "### Summary\n\nThis flow offers Device Management functionalities through CANDY LINE DM Service.\nIt is designed for Raspbian Stretch and Debian Stretch.\n\n### Supported Boards\n\n- Raspberry Pi\n- ASUS Tinker Board",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "a22bab5e.4c67f8",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Reboot OS",
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "25c44485.846cc4"
            ],
            [],
            []
        ]
    },
    {
        "id": "707ff03d.761af",
        "type": "switch",
        "z": "5e8a6e7d.727fb",
        "name": "Command Dispatching",
        "property": "payload.uri",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/3/0/4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/42801/0/20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/42801/0/24",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/42802/0/20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/42802/0/22",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "ba2a35bc.fcdf38"
            ],
            [
                "3ca34572.c6b8b2"
            ],
            [
                "4b9a2a2.63be6d4"
            ],
            [
                "c9016d1.485291",
                "489602e6.2e3ee4"
            ],
            [
                "2fe96750.09d0b"
            ]
        ]
    },
    {
        "id": "25c44485.846cc4",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Result Code",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/21",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "d4730dd3.4602b8"
            ]
        ]
    },
    {
        "id": "d4730dd3.4602b8",
        "type": "lwm2m client out",
        "z": "5e8a6e7d.727fb",
        "name": "Write Result Code",
        "lwm2mClient": "5edf712f.8c24a",
        "x": 1470,
        "y": 120,
        "wires": []
    },
    {
        "id": "c9016d1.485291",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Read SSH Enabled",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "34cf2822.b6fd08"
            ]
        ]
    },
    {
        "id": "34cf2822.b6fd08",
        "type": "lwm2m client in",
        "z": "5e8a6e7d.727fb",
        "name": "Read OS Config",
        "lwm2mClient": "5edf712f.8c24a",
        "subscribeObjectEvents": false,
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "207c8aa9.e683f6"
            ]
        ]
    },
    {
        "id": "207c8aa9.e683f6",
        "type": "switch",
        "z": "5e8a6e7d.727fb",
        "name": "Dispatch Resource",
        "property": "payload[0].uri",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/42802/0/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/42802/0/1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 460,
        "wires": [
            [
                "c445a835.6df77"
            ],
            [
                "109213b7.a5eaac"
            ]
        ]
    },
    {
        "id": "c445a835.6df77",
        "type": "switch",
        "z": "5e8a6e7d.727fb",
        "name": "Enable SSH?",
        "property": "payload[0].value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1450,
        "y": 460,
        "wires": [
            [
                "b7c50dc7.aaef58"
            ],
            [
                "3da7fdcc.4b9aea"
            ]
        ]
    },
    {
        "id": "b7c50dc7.aaef58",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "systemctl",
        "addpay": false,
        "append": "enable sshd",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Enable SSH",
        "x": 1670,
        "y": 460,
        "wires": [
            [
                "58e3a6e0.7395f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "3da7fdcc.4b9aea",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "systemctl",
        "addpay": false,
        "append": "disable sshd",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Disable SSH",
        "x": 1670,
        "y": 520,
        "wires": [
            [
                "58e3a6e0.7395f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "759039fc.f7de8",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Result Code",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/21",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2680,
        "y": 580,
        "wires": [
            [
                "b79e75b1.11829"
            ]
        ]
    },
    {
        "id": "58e3a6e0.7395f8",
        "type": "join",
        "z": "5e8a6e7d.727fb",
        "name": "Concat Results",
        "mode": "custom",
        "build": "array",
        "property": "rc.code",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1920,
        "y": 580,
        "wires": [
            [
                "b008b3c8.49612"
            ]
        ]
    },
    {
        "id": "489602e6.2e3ee4",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Read Password",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 500,
        "wires": [
            [
                "34cf2822.b6fd08"
            ]
        ]
    },
    {
        "id": "109213b7.a5eaac",
        "type": "switch",
        "z": "5e8a6e7d.727fb",
        "name": "Password Exisits?",
        "property": "payload[0].value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "bc199155.6a7688"
            ],
            [
                "8ae28880.191208"
            ]
        ]
    },
    {
        "id": "bc199155.6a7688",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "echo",
        "addpay": false,
        "append": "\"username:\"$(openssl passwd -1 -salt \"$salt\" \"$password\") | chpasswd -e",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Update Password",
        "x": 1690,
        "y": 600,
        "wires": [
            [
                "58e3a6e0.7395f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "8ae28880.191208",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Skip to update password",
        "rules": [
            {
                "t": "set",
                "p": "rc",
                "pt": "msg",
                "to": "{\"code\":-1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 660,
        "wires": [
            [
                "58e3a6e0.7395f8"
            ]
        ]
    },
    {
        "id": "c9874e8.48ca3b",
        "type": "join",
        "z": "5e8a6e7d.727fb",
        "name": "Merge Results",
        "mode": "reduce",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "$A = 0 &  payload = 0 ? 0 : 1",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 2480,
        "y": 580,
        "wires": [
            [
                "759039fc.f7de8"
            ]
        ]
    },
    {
        "id": "e18304d2.e492a8",
        "type": "split",
        "z": "5e8a6e7d.727fb",
        "name": "Split payload",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2290,
        "y": 580,
        "wires": [
            [
                "c9874e8.48ca3b"
            ]
        ]
    },
    {
        "id": "b008b3c8.49612",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Move Value",
        "rules": [
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 580,
        "wires": [
            [
                "e18304d2.e492a8"
            ]
        ]
    },
    {
        "id": "b79e75b1.11829",
        "type": "lwm2m client out",
        "z": "5e8a6e7d.727fb",
        "name": "Write Result Code",
        "lwm2mClient": "5edf712f.8c24a",
        "x": 2890,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ca34572.c6b8b2",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "systemctl",
        "addpay": false,
        "append": "restart candy-pi-lite",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Restart CANDY Pi Board Service",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "9ac72dca.ac42"
            ],
            [],
            []
        ]
    },
    {
        "id": "9ac72dca.ac42",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Result Code",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42801/0/21",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "329bf1bd.42f216"
            ]
        ]
    },
    {
        "id": "329bf1bd.42f216",
        "type": "lwm2m client out",
        "z": "5e8a6e7d.727fb",
        "name": "Write Result Code",
        "lwm2mClient": "5edf712f.8c24a",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "6c7ac606.17556",
        "type": "switch",
        "z": "5e8a6e7d.727fb",
        "name": "Event Dispatching",
        "property": "payload.eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "executed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "707ff03d.761af"
            ]
        ]
    },
    {
        "id": "ba2a35bc.fcdf38",
        "type": "delay",
        "z": "5e8a6e7d.727fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "a22bab5e.4c67f8"
            ]
        ]
    },
    {
        "id": "7af001e9.98caf8",
        "type": "json",
        "z": "5e8a6e7d.727fb",
        "name": "payload to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "81d90d0c.492da8"
            ]
        ]
    },
    {
        "id": "81d90d0c.492da8",
        "type": "template",
        "z": "5e8a6e7d.727fb",
        "name": "Construct Tail Args",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "-{{payload.lines}} {{{payload.path}}}",
        "output": "str",
        "x": 1250,
        "y": 820,
        "wires": [
            [
                "cd1f8c2b.b163f"
            ]
        ]
    },
    {
        "id": "2fe96750.09d0b",
        "type": "template",
        "z": "5e8a6e7d.727fb",
        "name": "Buffer to String",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.value}}}",
        "output": "str",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "7af001e9.98caf8"
            ]
        ]
    },
    {
        "id": "cd1f8c2b.b163f",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "tail",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Collect Content",
        "x": 1460,
        "y": 820,
        "wires": [
            [
                "36a41a0d.16bc6e"
            ],
            [],
            []
        ]
    },
    {
        "id": "36a41a0d.16bc6e",
        "type": "function",
        "z": "5e8a6e7d.727fb",
        "name": "Truncate 655536 bytes",
        "func": "msg.payload = msg.payload ? msg.payload.toString().substring(0, 655536) : null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1700,
        "y": 820,
        "wires": [
            [
                "db0c5bea.fe2808",
                "4683fa6d.ee38e4"
            ]
        ]
    },
    {
        "id": "db0c5bea.fe2808",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Result Code",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/23",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 820,
        "wires": [
            [
                "ffdff35e.191c18"
            ]
        ]
    },
    {
        "id": "ffdff35e.191c18",
        "type": "lwm2m client out",
        "z": "5e8a6e7d.727fb",
        "name": "Write Result",
        "lwm2mClient": "5edf712f.8c24a",
        "x": 2110,
        "y": 820,
        "wires": []
    },
    {
        "id": "4683fa6d.ee38e4",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Content",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 880,
        "wires": [
            [
                "ffdff35e.191c18"
            ]
        ]
    },
    {
        "id": "2e50841f.03cf8c",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "Restart CANDY Pi Board Service",
        "info": "",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "268c8a0e.efadfe",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "Reboot OS",
        "info": "",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "875ee713.2c3b9",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "Apply OS Configuration",
        "info": "",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "17a99321.4e007d",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "Get the tail end of a text file",
        "info": "",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "caf11d56.06d008",
        "type": "lwm2m client out",
        "z": "5e8a6e7d.727fb",
        "name": "Write Result Code",
        "lwm2mClient": "5edf712f.8c24a",
        "x": 1470,
        "y": 340,
        "wires": []
    },
    {
        "id": "1ce668de.f756b7",
        "type": "change",
        "z": "5e8a6e7d.727fb",
        "name": "Set Result Code",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/42802/0/25",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "rc.code",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "caf11d56.06d008"
            ]
        ]
    },
    {
        "id": "6ed8c6d1.bfe498",
        "type": "exec",
        "z": "5e8a6e7d.727fb",
        "command": "halt",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Terminate OS",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "1ce668de.f756b7"
            ],
            [],
            []
        ]
    },
    {
        "id": "4b9a2a2.63be6d4",
        "type": "delay",
        "z": "5e8a6e7d.727fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "6ed8c6d1.bfe498"
            ]
        ]
    },
    {
        "id": "2dca0f86.a0491",
        "type": "comment",
        "z": "5e8a6e7d.727fb",
        "name": "Terminate OS",
        "info": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "5edf712f.8c24a",
        "type": "lwm2m client",
        "z": "5e8a6e7d.727fb",
        "disabled": false,
        "clientName": "CANDY-LINE-DM",
        "enableDTLS": false,
        "clientPort": "0",
        "lifetimeSec": "300",
        "reconnectSec": "300",
        "requestBootstrap": false,
        "saveProvisionedConfig": false,
        "useIPv4": false,
        "serverHost": "localhost",
        "serverPort": "0",
        "redirectLwm2mClientLog": false,
        "dumpLwm2mMessages": false,
        "hideSensitiveInfo": false,
        "propagateInternalEvents": true,
        "objects": "{}"
    }
]
